<html>
  <head>
    <title>Contacting for your service | The Media Ant</title>
  </head>
  <body>
    <div style="margin:30px 0;">
      <h3>Hi, Please list me as a freelancer on www.themediaant.com</h3>
      <table>
        <th>Name : <%= name.first %> <%= name.last %></th>
        <th>Email : <%= email %></th>
        <th>Contact : <%= contact %></th>
        <th>Area Of Expertise : <%= areaOfExpertise %></th>
        <th>Is Agency : <%= isAgency %></th>
      </table>
      <h3>Thank you</h3>
    </div>
    
    <div class="footer">
      <h4 style="color:#666">Stay in touch with us - help@themediaant.com</h4>
    </div>
  </body>
</html>
